<h1>Welcome</h1>
<% if (prueba) { %>
    <p>
        <%= prueba %>
    </p>
    <% } %>
        <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>